@model MyLeasing.Web.Models.ContractViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Contract</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditContract">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="OwnerId" />
            <input type="hidden" asp-for="PropertyId" />

            <partial name="_Contract"/>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="DetailsProperty" asp-route-id="@Model.PropertyId" class="btn btn-success">Back to Property</a>
            </div>
        </form>
    </div>
</div>
